.sidebar {
    width: 280px; 
    height: 100vh;
    position: fixed; 
    top: 0; 
    left: 0;
}

table th, table td {
    text-align: center;
    vertical-align: middle;
}

.horizontalLine {
    border: none; 
    height: 1px; 
    background-color: white;
}
