.sidebar {
    width: 280px; 
    height: 100vh;
    position: fixed; 
    top: 0; 
    left: 0;
}

table th, table td {
    text-align: center;
    vertical-align: middle;
}

.horizontalLine {
    border: none; 
    height: 1px; 
    background-color: white;
}

/* dialog customization for django-htmx-forms */
.dialog {
    background-color: rgba(0,0,0,0.3); /* backdrop */
    border: none;
}
.dialog .dialog-content .dialog-header,
.dialog .dialog-content .dialog-footer,
.dialog .dialog-content .dialog-header .title,
.dialog .dialog-header .close
 {
        background-color: rgba(33,37,41,1);
        color: #fff;
}

.btn-close {
    --bs-btn-close-bg: none !important;
    --bs-btn-close-opacity: 1.0 !important;
    box-sizing: border-box !important;
}

.chart {
    height: 240px;
    width: 100%;
}

#chart-card {
    height: 320px;
}

.messages {
    margin-bottom: 20px;   
}

.messages div {
    margin-bottom: 0px; 
}

.messages .alert-error{
    color: white;
    background-color: #dc3545;
}