{% extends "users/base.html" %}
{% block page_title %}Reset Password{% endblock %}

{% block header_text %}Reset Your Password{% endblock %}
{% block button_text %}Reset Password{% endblock %}

{% block auth_form %}
{% if validlink %}
<form method="post">
  {% csrf_token %}

  <div class="mb-3">
    <label for="id_new_password1" class="form-label">New Password</label>
    <input type="password" name="new_password1" class="form-control" id="id_new_password1" required>
    {% if form.new_password1.help_text %}
      <div class="form-text text-muted mt-1">
        {{ form.new_password1.help_text|safe }}
      </div>
    {% endif %}
  </div>

  <div class="mb-3">
    <label for="id_new_password2" class="form-label">Confirm New Password</label>
    <input type="password" name="new_password2" class="form-control" id="id_new_password2" required>
  </div>

  <div class="d-grid mt-4">
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </div>
</form>
{% else %}
<div class="alert alert-warning text-center">
  This password reset link is invalid, possibly because it has already been used or is expired.
</div>
{% endif %}
{% endblock %}

{% block extra_links %}
<div class="text-center mt-3">
  <a href="{% url 'users:login' %}">Back To Login</a>
</div>
{% endblock %}
