{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} {{SITE_TITLE}} {% endblock title %}</title>
        
        <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'dygraphs/dist/dygraph.css' %}" rel="stylesheet">
        <link rel='stylesheet' href="{% static 'htmx_forms.css' %}">

        <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">

        {% comment %} <meta name="csrf-token" content="{{ csrf_token }}"> {% endcomment %}

    </head>
    <body>
        <div class="d-flex">

            <!-- Sidebar -->
            {% block sidebar %}
                {% include "frontend/components/sidebar.html" %}
            {% endblock sidebar %}

            <div class="flex-grow-1" style="margin-left: 280px;">

                <div class="p-4">

                    {% block content %}
                        <h2>Content goes here</h2>
                    {% endblock content %}
                    
                </div>
            </div>
        </div>
        {% include 'htmx_forms/dialogs.html' %}
        {% include 'htmx_forms/overlay.html' %}

        <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'htmx.org/dist/htmx.js' %}"></script>
        <script type="text/javascript" src="{% static 'dygraphs/dist/dygraph.js' %}"></script>
        <script src="{% static 'htmx_forms.js' %}"></script>

        {% block extrajs %}
        {% endblock extrajs %}
    </body>
</html>