{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} {{SITE_TITLE}} {% endblock title %}</title>
        <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet">

        {% comment %} <meta name="csrf-token" content="{{ csrf_token }}"> {% endcomment %}

    </head>
    <body>
        <div class="d-flex">

            <!-- Sidebar -->
            {% block sidebar %}
                {% include "frontend/components/sidebar.html" %}
            {% endblock sidebar %}

            <div class="flex-grow-1" style="margin-left: 280px;">
                <!-- Navbar dentro il contenuto -->
                 {% comment %} {% block navbar %}
                <nav class="navbar sticky-top bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Sticky top</a>
                    </div>
                </nav>
                {% endblock navbar %} {% endcomment %}

                <div class="p-4">
                    {% block content %}
                    <h2>Content goes here</h2>
                    {% endblock content %}
                </div>
            </div>
        </div>
        <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'htmx.org/dist/htmx.js' %}"></script>
    </body>
</html>