{% extends "frontend/info_base.html" %}
{% load static %}

{% block actual_values %}

<div class="container">
<div class="row justify-content-center align-items-stretch">
    <!-- Colonna 1 -->
    <div class="col-md-2">
      <div class="p-3 text-center">
        <h5> Entities online </h5>
        <div id="gaugeEntities"></div>
        <div id="textEntities" class="mt-2 fw-bold text-success"></div>
      </div>
    </div>

    <!-- Separatore verticale -->
    <div class="col-md-1 d-flex justify-content-center">
      <div style="width: 1px; background-color: #ccc; height: 100%;"></div>
    </div>

    <!-- Colonna 2 -->
    <div class="col-md-2">
      <div class="p-3 text-center">
        <h6> Servers </h6>
        <div id="gaugeServers"></div>
        <div id="textServers" class="mt-2 fw-bold text-success"></div>
      </div>
    </div>

    <!-- Colonna 3 -->
    <div class="col-md-2">
      <div class="p-3 text-center">
        <h6> Endpoints </h6>
        <div id="gaugeEndpoints"></div>
        <div id="textEndpoints" class="mt-2 fw-bold text-success"></div>
      </div>
    </div>
  </div>

{% endblock %}

{% block charts %}
  <br>
<div class="row mt-3">
  <div class="col-md-12">
    <div class="p-3 bg-white border rounded shadow-sm" style="height: 300px;">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h6 class="text-muted mb-0">Uptime trend</h6>
        <div>
          <select id="seriesSelector" class="form-select form-select-sm d-inline-block w-auto">
            <option value="both">All</option>
            <option value="first">Endpoints</option>
            <option value="second">Servers</option>
          </select>
        </div>
      </div>
      <div class="chart" id="uptimeChart" data-metric="monitor-status" data-color="#6610f2" style="width: 100%; height: 240px;"></div>
    </div>
  </div>
</div>

</div>

{% endblock charts %}

{% block extrajs %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="{% static "frontend/js/dashboard_chart.js" %}"></script>
<script src="{% static "frontend/js/dashboard.js" %}"></script>
{% endblock extrajs %}
