{% extends "frontend/base.html" %} {% block content %} {% load static %}

<h2> Endpoints: view, create, edit and delete</h2>

<nav class="navbar navbar-light bg-light" style="justify-content: right; align-items: right;">
    <form class="form-inline">
        <button
            type="button"
            hx-get="{% url 'frontend:endpoint_create' %}"
            hx-target="#my-modals"
            hx-trigger="click"
            data-bs-toggle="modal"
            data-bs-target="#my-modals"
            class="btn btn-success"
            style="margin-right:20px;">
            <strong>Add endpoint</strong>
        </button>
    </form>    
</nav>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">URL</th>
            {% comment %} <th scope="col"> Server status</th> {% endcomment %}
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for p in endpoint_list %}
        <tr>
            <td>
                {% if p.logo %}
                <img src="{{p.logo.url}}" alt="Logo server" width="36" height="36" class="rounded-circle me-2"> {% endif %}

            </td>
            <td>
                <button hx-get="{% url 'frontend:endpoint_update' pk=p.id %}" hx-target="#my-modals" hx-trigger="click" data-bs-toggle="modal" data-bs-target="#my-modals" class="btn primary"> <strong>{{ p.name }} </strong></button>
            </td>
            <td>{{ p.description }}</td>
            <td>{{ p.url}}</td>
            {% comment %} <td hx-get="{% url 'frontend:get_server_status' %}" hx-trigger="load, every 60s" hx-target="this" hx-swap="innerHTML">
                Loading...
            </td> {% endcomment %}

            <td class="pe-4" style="width: 1%; white-space: nowrap;">
                <button hx-get="{% url 'frontend:endpoint_delete' pk=p.id %}" hx-target="#my-modals .modal-content" hx-trigger="click" data-bs-toggle="modal" data-bs-target="#my-modals" class="btn btn-danger btn-sm">
					Delete
				</button>

            </td>
        </tr>

        {% endfor %}
        <div id="my-modals" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!-- HTMX caricherà qui dentro -->
                </div>
            </div>
        </div>

    </tbody>
</table>
<div id="modal-container"></div>
{% endblock content %}