{% extends "frontend/base.html" %}
{% load static %}
{% block content %}

<h2>Endpoints: view, create, edit and delete</h2>

<nav class="navbar navbar-light bg-light" style="justify-content: right; align-items: right;">
    {% if can_add_endpoint %}
    <a href="{% url 'frontend:add_endpoint' %}" onclick="onOpenDialog(event, 'Save')" data-title="Add an Endpoint" class="btn btn-success">
        Add
    </a>
    {% else %}
    <button class="btn btn-success" disabled title="Upgrade to PRO in order to add more Endpoints.">
        Add
    </button>
    {% endif %}
</nav>

<br>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">URL</th>
            <th scope="col">Endpoint status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for p in endpoint_list %}
        <tr>
            <td>
                {% if p.logo %}
                <img src="{{ p.logo.url }}" alt="Logo server" width="36" height="36" class="rounded-circle me-2">
                {% endif %}
            </td>
            <td>
                <a href="{% url 'frontend:change_endpoint' p.id %}" onclick="onOpenDialog(event, 'Save')" data-title="Edit an Endpoint" ">
                    {{ p.name }}
                </a>
            </td>
            <td>{{ p.description }}</td>
            <td>{{ p.url }}</td>
            <td hx-get="{% url 'frontend:get_entity_status' p.id %}?source=endpoint"  hx-trigger="load, every 60s" hx-target="this" hx-swap="innerHTML">
                Loading...
            </td>

            <td class="pe-4" style="width: 1%; white-space: nowrap;">
                <a href="{% url 'frontend:delete_endpoint' p.id %}" onclick="onOpenDialog(event, 'Delete')" data-title="Delete an Endpoint" class="btn btn-danger">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}

{% block extrajs %}
<script src="{% static "frontend/js/endpoint_dialogs.js" %}"></script>
{% endblock extrajs %}
