{% extends "frontend/info.html" %}
{% block actual_values %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 justify-content-center text-center">
  
  <!-- OS Info -->
  <div class="col">
    <div class="p-3 bg-light border rounded shadow-sm h-100">
      <div class="text-muted small"><i class="bi bi-gear-fill"></i> Operative System</div>
      <div class="fs-4 fw-bold text-dark">
        <span 
          hx-get="{% url 'frontend:get_instantaneous_data' metric='os' %}" 
          hx-trigger="load" 
          hx-swap="outerHTML"
          class="d-inline-block">
          ?
        </span>
      </div>
    </div>
  </div>

  <!-- Server Status -->
  <div class="col">
    <div class="p-3 bg-light border rounded shadow-sm h-100">
      <div class="text-muted small">
        <i class="bi bi-circle-half"></i> Server Status</div>
      <div class="fs-5 fw-semibold"
           hx-get="{% url 'frontend:get_entity_status' %}" 
           hx-trigger="load, every 60s" 
           hx-swap="innerHTML">
        ?
      </div>
    </div>
  </div>

  <!-- Uptime -->
  <div class="col">
    <div class="p-3 bg-light border rounded shadow-sm h-100">
      <div class="text-muted small"><i class="bi bi-clock-history"></i> Uptime since last boot</div>
      <div class="fs-4 fw-bold text-dark">
        <span 
          hx-get="{% url 'frontend:get_instantaneous_data' metric='uptime-days' %}" 
          hx-trigger="load" 
          hx-swap="outerHTML">?
        </span> days
      </div>
    </div>
  </div>

  <!-- HTTP Request -->
  <div class="col">
    <div class="p-3 bg-light border rounded shadow-sm h-100">
      <h6 class="text-muted">Http request (5m)</h6>
      <h3 class="mb-0 text-primary fw-bold">
        <span id="latency-value"
              hx-get="{% url 'frontend:get_instantaneous_data' metric='http-req' %}" 
              hx-trigger="load, every 60s" 
              hx-swap="innerHTML">
          ?
        </span>
      </h3>
    </div>
  </div>
  
</div>

<div class="row g-3 justify-content-center text-center mt-2">

  <!-- CPU Usage -->
  <div class="col-md-3">
    <div class="p-3 bg-light border rounded shadow-sm h-100">
      <div class="text-muted small"><i class="bi bi-cpu"></i> CPU Usage</div>
      <div class="fs-4 fw-bold text-dark">
        <span 
          hx-get="{% url 'frontend:get_instantaneous_data' metric='cpu-usage' %}" 
          hx-trigger="load" 
          hx-swap="outerHTML"
          class="d-inline-block">
          ?
        </span>%
      </div>
    </div>
  </div>

  <!-- Memory Used -->
  <div class="col-md-3">
    <div class="p-3 bg-light border rounded shadow-sm h-100">
      <div class="text-muted small"><i class="bi bi-memory"></i> Memory Used</div>
      <div class="fs-5 fw-bold text-dark">
        <span 
          hx-get="{% url 'frontend:get_instantaneous_data' metric='mem-used' %}" 
          hx-trigger="load" 
          hx-swap="outerHTML">?
        </span> /
        <span 
          hx-get="{% url 'frontend:get_instantaneous_data' metric='mem-tot' %}" 
          hx-trigger="load" 
          hx-swap="outerHTML">?
        </span> GB
      </div>
      <div class="text-success small mt-1">
        Free: 
        <span 
          hx-get="{% url 'frontend:get_instantaneous_data' metric='mem-free' %}" 
          hx-trigger="load" 
          hx-swap="outerHTML">?
        </span> GB
      </div>
    </div>
  </div>

  <!-- Disk Used -->
  <div class="col-md-3">
    <div class="p-3 bg-light border rounded shadow-sm h-100">
      <div class="text-muted small"><i class="bi bi-hdd-fill"></i> Disk Used</div>
      <div class="fs-5 fw-bold text-dark">
        <span 
          hx-get="{% url 'frontend:get_instantaneous_data' metric='disk-used' %}" 
          hx-trigger="load" 
          hx-swap="outerHTML">?
        </span> /
        <span 
          hx-get="{% url 'frontend:get_instantaneous_data' metric='disk-tot' %}" 
          hx-trigger="load" 
          hx-swap="outerHTML">?
        </span> GB
      </div>
      <div class="text-success small mt-1">
        Free: 
        <span 
          hx-get="{% url 'frontend:get_instantaneous_data' metric='disk-free' %}" 
          hx-trigger="load" 
          hx-swap="outerHTML">?
        </span> GB
      </div>
    </div>
  </div>

</div>


{% endblock actual_values %}

{% block aggregated_values %}
<div id="graphs-container">
  {% include "frontend/components/graphs_server.html" %}
</div>

<br>

{% endblock aggregated_values %}