{% extends "frontend/base.html" %}
{% block content %}
{% load static %}

<h2> Servers: view, create, edit and delete</h2>

	{% include "frontend/components/server_navbar.html" %}
<br>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col">Name</th>
			<th scope="col">Description</th>
			<th scope="col">URL</th>
			<th scope="col"> Server status</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		{% for p in server_list %}
		<tr>
			<td>
				{% if p.logo %}
				<img src="{{p.logo.url}}" alt="Logo server" width="36" height="36" class="rounded-circle me-2">
				{% endif %}

			</td>
			<td>
				<button
					hx-get="{% url 'frontend:server_edit' pk=p.id %}"
					hx-target="#my-modals"
					hx-trigger="click"
					data-bs-toggle="modal"
					data-bs-target="#my-modals"
					class="btn primary"> <strong>{{ p.name }} </strong></button>
			</td>
			<td>{{ p.description }}</td>
			<td>{{ p.url}}:{{ p.port }}</td>
			<td 
			hx-get="{% url 'frontend:server_status_indicator' pk=p.id %}" 
			hx-trigger="load, every 5s" 
			hx-target="this" 
			hx-swap="innerHTML"
		  >
			Caricamento...
		  </td>
		  
		  
		  
		  
			<td class="pe-4" style="width: 1%; white-space: nowrap;">
				<button
  hx-get="{% url 'frontend:server_delete' pk=p.id %}"
  hx-target="#my-modals .modal-content"
  hx-trigger="click"
  data-bs-toggle="modal"
  data-bs-target="#my-modals"
  class="btn btn-danger btn-sm">
  Delete
</button>

			</td>
		</tr>

		{% endfor %}
		<div id="my-modals"
		class="modal fade"
		tabindex="-1"
		aria-hidden="true">
	 <div class="modal-dialog" role="document">
	   <div class="modal-content">
		 <!-- HTMX caricherà qui dentro -->
	   </div>
	 </div>
   </div>
   

	</tbody>
</table>
<div id="modal-container"></div>
{% endblock content %}