{% extends "frontend/info.html" %}
{% block actual_values %}
<!-- Dati principali -->
<div class="col-md-2">
  <div class="p-3">
    <div class="text-muted text-nowrap">
      <i class="bi bi-gear-fill"></i> Operative System
    </div>
    <div class="fs-3 fw-bold">{{ inst_data.os }}</div>
  </div>
</div>
    <!-- CPU Usage -->
    <div class="col-md-2">
      <div class="p-3 bg-light border rounded shadow-sm">
        <div class="text-muted text-nowrap">
          <i class="bi bi-cpu"></i> CPU Usage
        </div>
        <div class="fs-3 fw-bold">{{ inst_data.cpu_usage_perc }}%</div>
      </div>
    </div>

    <!-- Memory -->
    <div class="col-md-3">
      <div class="p-2 bg-light border rounded shadow-sm h-100">
        <div class="text-muted text-nowrap small">
          <i class="bi bi-memory"></i> Memory used
        </div>
        <div class="fs-6 fw-bold">
          {{ inst_data.memory_used_gb }} GB / {{ inst_data.memory_total_gb }} GB
        </div>
        <div class="text-success small text-nowrap">
          Free: {{ inst_data.memory_free_gb}} GB
        </div>
      </div>
    </div>

    <!-- Disk -->
    <div class="col-md-3">
      <div class="p-2 bg-light border rounded shadow-sm h-100">
        <div class="text-muted text-nowrap small">
          <i class="bi bi-hdd-fill"></i> Disk used
        </div>
        <div class="fs-6 fw-bold">
          {{ inst_data.disk_used_gb }} GB / {{ inst_data.disk_total_gb }} GB
        </div>
        <div class="text-success small text-nowrap">
          Free: {{ inst_data.disk_free_gb }} GB
        </div>
      </div>
    </div>

    <!-- Server Uptime -->
    <div class="col-md-2">
      <div class="p-3 bg-light border rounded shadow-sm">
        <div class="text-muted text-nowrap">
          <i class="bi bi-clock-history"></i> Uptime
        </div>
        <div class="fs-3 fw-bold">{{ inst_data.server_uptime_days }} days</div>
        <div class="text-info small text-nowrap">
          Since last boot
        </div>
      </div>
    </div>

{% endblock actual_values %}
{% block aggregated_values %}
{% include "frontend/components/graphs_and_tables.html" %}
{% endblock aggregated_values %}