{% load static %}

<div class="row g-4">
  <div class="col-md-6">
    <div class="p-3 bg-white border rounded shadow-sm" style="height: 300px;">
      <h6 class="text-muted">Latency trend</h6>
      <div class="chart" id="cpuChart" data-entity="endpoint" data-metric="response-time" data-color="#0d6efd" style="width: 100%; height: 240px;">
      </div>
    </div>
  </div>

   <div class="col-md-6">
    <div class="p-3 bg-white border rounded shadow-sm" style="height: 300px;">
      <h6 class="text-muted">Uptime trend</h6>
      <div class="chart" id="memoryChart" data-metric="monitor-status" data-color="#6610f2" style="width: 100%; height: 240px;">
      </div>
    </div>

  </div> 
</div>
{% comment %} <br>
<div class="row g-4">
  <div class="col-md-6">
    <div class="p-3 bg-white border rounded shadow-sm" style="height: 300px;">
      <h6 class="text-muted">Disk Trend</h6>
      <div class="chart" id="diskChart" data-metric="disk-used" data-color="#a110a2" style="width: 100%; height: 240px;">
      </div>
    </div>

  </div>
</div> {% endcomment %}

{% block extrajs %}
<script src="{% static "frontend/js/charts.js" %}"></script>
{% endblock extrajs %}