{% load static %}
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img src="{% static 'frontend/images/observa_logo_white.png' %}" alt="Default" width="40" height="40" class="rounded-circle me-2">
        <span class="fs-4">{{SITE_TITLE}}</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="{% url 'frontend:dashboard' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" aria-current="page">
                <i class="bi bi-speedometer2" style="padding-right:10px;"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="{% url 'frontend:servers' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'servers' %}active{% endif %}">
                <i class="bi bi-hdd-network" style="padding-right:10px;"></i> Servers
            </a>
        </li>
        {% comment %} <li>
            <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#collapseMonitoring" role="button" aria-expanded="false" aria-controls="collapseMonitoring">
                Servers
                <span class="bi bi-caret-down-fill"></span>
            </a>
            <div class="collapse ps-3" id="collapseMonitoring">
                <ul class="nav flex-column">
                    <li>
                        <a href="#" class="nav-link text-white {% if request.resolver_match.url_name == 'uptime' %}active{% endif %}">
                            Uptime Kuma
                        </a>
                    </li>
                    <li>
                        <a href="#}" class="nav-link text-white {% if request.resolver_match.url_name == 'metrics' %}active{% endif %}">
                            Metriche Prometheus
                        </a>
                    </li>
                </ul>
            </div>
        </li> {% endcomment %}
        
        {% comment %} <li>
            <a href="#" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#table"></use>
                </svg>
                Orders
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#grid"></use>
                </svg>
                Products
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                Customers
            </a>
        </li> {% endcomment %}
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        {% if request.user.profile_picture %}
            <img src="{{ request.user.profile_picture.url }}" alt="Foto profilo" width="32" height="32" class="rounded-circle me-2">
        {% else %}
            <img src="{% static 'frontend/images/user.png' %}" alt="Default" width="32" height="32" class="rounded-circle me-2">
        {% endif %}
        <strong style="padding-left:10px;">{{request.user}}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            {% if user.is_superuser %}
            <li><a class="dropdown-item" href="admin/">Admin</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'frontend:edit_profile' %}">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <form method="post" action="{% url 'frontend:logout' %}" style="margin: 0;">
                  {% csrf_token %}
                  <button type="submit" class="dropdown-item text-start w-100 text-danger" style="background: none; border: none; padding: .25rem 1rem;font-color:red;">
                    <strong>Logout</strong>
                  </button>
                </form>
              </li>
        </ul>
    </div>
</div>