{% load static %}
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img src="{% static 'frontend/images/observa_logo_white.png' %}" alt="Default" width="40" height="40" class="rounded-circle me-2">
        <span class="fs-4">{{SITE_TITLE}}</span>
    </a>
<hr style="border: none; height: 1px; background-color: white;">


    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="{% url 'frontend:dashboard' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                <i class="bi bi-speedometer2 me-2"></i> Summary
            </a>
        </li>
        <hr style="border: none; height: 1px; background-color: white;">
        <li>
            <span class="text-uppercase small ps-2"><strong>Server</strong></span>
        </li>
        <li>
            <a href="{% url 'frontend:resources' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'resources' %}active{% endif %}">
                <i class="bi bi-cpu me-2"></i> Resources
            </a>
        </li>
        <li>
            <a href="{% url 'frontend:servers' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'servers' %}active{% endif %}">
                <i class="bi bi-list me-2"></i> Servers list
            </a>
        </li>
    
        <li>
            <span class="text-uppercase small ps-2"><strong>Endpoint</strong></span>
            </li>
        <li>
            <a href="{% url 'frontend:network' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'network' %}active{% endif %}">
                <i class="bi bi-diagram-3 me-2"></i> Network
            </a>
        </li>
        <li>
            <a href="{% url 'frontend:endpoints' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'endpoints' %}active{% endif %}">
                <i class="bi bi-list-columns-reverse me-2"></i> Endpoints list
            </a>
        </li>
    
        <li>
            <span class="text-uppercase small ps-2"><strong>Others</strong></span>
            </li>
        <li>
            <a href="{% url 'frontend:backup' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'backup' %}active{% endif %}">
                <i class="bi bi-arrow-repeat"></i> Backup
            </a>
        </li>
        <li>
            <a href="{% url 'frontend:report' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'report' %}active{% endif %}">
                <i class="bi bi-graph-up"></i> Report
            </a>
        </li>
    </ul>

    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            {% if request.user.profile_picture %}
                <img src="{{ request.user.profile_picture.url }}" alt="Foto profilo" width="32" height="32" class="rounded-circle me-2">
            {% else %}
                <img src="{% static 'frontend/images/user.png' %}" alt="Default" width="32" height="32" class="rounded-circle me-2">
            {% endif %}
            <strong>{{request.user}}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            {% if user.is_superuser %}
            <li><a class="dropdown-item" href="/admin/">Admin</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'users:edit_profile' %}">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form method="post" action="{% url 'users:logout' %}" style="margin: 0;">
                  {% csrf_token %}
                  <button type="submit" class="dropdown-item text-start w-100 text-danger">
                    <strong>Logout</strong>
                  </button>
                </form>
            </li>
        </ul>
    </div>
</div>


