<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title">Modal title</h5>
    </div>
      <form method="POST" action="{% url 'frontend:server_edit' pk=form.instance.pk %}">{% csrf_token %}
    <div class="modal-body">

    {{ form.as_p }}
    
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save</button>

    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </form>

</div>
</div>